body {
    background-image: linear-gradient(rgb(116, 111, 111), rgb(199, 194, 194));
}
/* ESTILOS PARA TODA LA CONSOLA COMECOCOS */

/* Estilos contenedor general que engloba todo */

.contenedorGlobal {
    display: flex;
    justify-content: center;
    align-items: center;
    }

/* Estilos contenedor carcasa entera de la consola */

.contenedorConsola{
    width: 25em;
    height: 35em;
    background: -webkit-linear-gradient(rgb(136, 49, 108), rgb(138, 69, 151));
    background-color: rgb(133, 123, 130);
    border: 1 px solid rgb(107, 76, 97);
    box-shadow: 10px 10px 5px 5px rgb(65, 41, 57);
    border-radius: 20% 10% 20% 10%;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;    
    }

/* Estilo para texto comecocos */

#texto {
    padding: 5px;
    font-family: 'Press Start 2P', cursive;
    font-size: 1.5em;
    color: rgb(39, 38, 38);
}

/* Estilos parte de la pantalla con imagen */

.contenedorPantalla {
    display:flex;
    justify-content: center;
    align-items: center;
    background: -webkit-linear-gradient(rgb(26, 24, 25),rgb(75, 68, 71));
    background-color: rgb(26, 24, 25);
    border-radius: 10% 10% 10% 10%;
    width: 70%;
    height: 40%;
    }

.slider {
    display:flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 70%;
    height: 40%;    
    }
/* Estilos primera imagen comecocos */
 .comecocos {
    border-radius: 7% 7% 7% 7%;   
    }

    /* Estilos para el cambio imagen cuando pasas el raton */

.slider img {
    position:absolute;
    transition: opacity 1.5s ease-in-out;
}

.slider img#pacman:hover {
    opacity: 0;
    border-radius: 7% 7% 7% 7%;   
}

/* -webkit-transition */

/* Estilos para boton ON/OFF */
.on_off {
    display:flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 8%;
    height: 6%;    
    background-color: rgb(138, 69, 151);
    }
    div.on_off:hover {
        border: 2 px solid rgb(218, 37, 202);
        border-radius: 50%;
      }
    .encender {
        width: 2em;
        height: 2em;
        border-radius: 50%;
        background-color: rgb(19, 18, 19);
    }
/* Estilos para los mandos de la consola */

.mandos {
    height: 40%;
    width: 80%;    
    background-color: rgb(19, 18, 19);
    display:flex;
    flex-direction: row;
    }   

/* Estilos  para los botones de la consola */

.botones1 { 
    height: 100%;
    width: 33%;
    background-color: brown;
    display: flex;
    flex-direction: column;
    }

.botones2 {
    height: 100%;
    width: 34%;
    background-color: darkblue;
    }

.botones3 {
        height: 100%;
        width: 100%;
        background-color: darkred;
    }
/* Estilos cruceta */

.cruceta1{
    height: 33%;
    width: 100%;
    background-color: darkolivegreen;
    }

.cruceta2{
    height: 34%;
    width: 100%;
    background-color: darkolivegreen;
    }

.cruceta3{
    height: 33%;
    width: 100%;
    background-color: darkolivegreen;
    }


